/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
}

body {
    background-color: #ADD8E6;
}

.container {
    width: 60%;
    margin: 20px auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* debug */


/* debug */


/* header */
header > .title {
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 60px;
}

/* main */
.game-container {
    width: 60%;
    margin: auto;
    padding: 20px 0 20px 22px;
}

.card, .hidden, .view {
    float: left;
    width: 100px;
    height: 120px;
    border-radius: 10%;
}

.card, .view {
    margin: 15px 5px;
}

.card {
    background-image: url(../img/pattern.png);
    background-size: 100%;
}

.hidden:hover{
    background-color: white;

}
.show {
    display: none;
}
.hidden:hover .show {
    display: block;
}

.view {
    background-color: white;
}

img {
    height: 80%;
}
 
.namecard, .fix-namecard {
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 17px;
    color: #E61986;
}

.namecard {
    display: none;
}

 .hidden:hover .namecard {
    display: block;
}

/* footer */
 footer {
    height: 40px; 
}

.editor {
    text-align: center;
    line-height: 40px;
}